
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Partial("/Views/AdminLayout/HeadPartial.cshtml")
<body>
    <div class="container-scroller">
        @Html.Action("SidebarPartial","AdminLayout")
        <div class="container-fluid page-body-wrapper">
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles light"></div>
                    <div class="tiles dark"></div>
                </div>
            </div>
            <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
                @Html.Action("NavbarPartial","AdminLayout")
            </nav>
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                   @RenderBody()
                </div>
                @Html.Partial("/Views/AdminLayout/FooterPartial.cshtml")
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/flot/jquery.flot.js"></script>
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/flot/jquery.flot.stack.js"></script>
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/vendors/flot/jquery.flot.pie.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/js/off-canvas.js"></script>
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/js/hoverable-collapse.js"></script>
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
</body>
</html>