@model List<AcunMedyaAkademiAgency.Entities.Team>
<div class="col-xl-6 col-sm-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title pl-4">Personeller Bilgisi</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                        <tr>
                            <th>Adı Soyadı</th>
                            <th>Bölüm</th>
                            <th>Cinsiyet</th>
                            <th>Şehir</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="@item.ImageUrl" alt="image" />
                                        <div class="table-user-name ml-3">
                                            <p class="mb-0 font-weight-medium">@item.NameSurname </p>

                                        </div>
                                    </div>
                                </td>
                                <td>@item.Branch.BranchName</td>
                                <td>
                                    @if (item.Gender == "Kadın")
                                    {
                                       
                                        <div class="badge badge-inverse-danger"> @item.Gender </div>
                                    }
                                    @if (item.Gender == "Erkek")
                                    {
                                        <div class="badge badge-inverse-success"> @item.Gender </div>
                                    }

                                </td>
                                <td>@item.City</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <a class="text-black mt-3 d-block pl-4" href="#">
                <span class="font-weight-medium h6">View all order history</span>
                <i class="mdi mdi-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
